.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.heading{
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.img {
    margin-top: 8%;
    width: 350px;
    height: auto;
}

.btn {
    margin: 5px;
}

.btn-container {
    width:100%;
    border: 1px solid green;
}