.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.field-container {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
}

.field {
    margin-bottom: 30px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #2AFF7F;
}